/* app css stylesheet */

@font-face {
    font-family: ArchivoNarrowBold;
    src: url(fonts/ArchivoNarrow-Bold.otf);
}
@font-face {
    font-family: Gadugi;
    src: url(fonts/gadugib.ttf);
}

@font-face {
    font-family: ArchivoNarrow;
    src: url(fonts/ArchivoNarrow-Regular.otf);
}

@font-face {
    font-family: GadugiRegular;
    src: url(fonts/gadugi.ttf);
}

{
    border: 1px black dotted;
}

body {
    background: #FFFFFF;

    width:100%;
    height: 100%;
    margin:auto;
    overflow-x: hidden;
}
/* STYLE */

h1 {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-family: ArchivoNarrowBold;
    cursor: pointer;
}

h2 {
    font-size: 30px;
    color: rgba(0, 0, 0, 1);
    font-family: ArchivoNarrowBold;
    cursor: default;
}

span {
    font-weight: bold;
    font-family: Gadugi;
    
}

#contact_container p {
    font-family: GadugiRegular;
    font-size: 12;

    
}

#cv_container p, li{
    font-family: GadugiRegular;
    font-size: 12px;
    color: black;
}

#cv_container a p span{
  font-family: ArchivoNarrow;
  color: white;
}

a {
  text-decoration: none;
}

a:active{
  outline: none;
}

a:focus{
  outline: none;
}


/*NAVBAR*/

.menu_container {
    z-index: 9999;
    height: 70px;
    margin-top: 0px;
    width:100%;
    background-color: rgba(118, 239, 209, 1);
}

#menu_list{
    list-style: none;
    width:550px;
    height: 65px;
    position:relative;
    margin: 0px auto 0 auto;
    padding-left: 100px;
}




.menu_item {
    height: auto;
    width:auto;
    float: left;
    position:relative;
    margin-top: -20px;
    padding: 0;
}



.menu_header {
    position:relative;
    margin-top: 45px;
    padding-left: 20px;
    text-align: center;
    cursor: pointer;
}



/*MENU ANIMATIONS*/

.menu_header:hover {
    cursor: pointer;
    color: rgba(233, 233, 233, 1);
}

/*MIEJSCE NA GŁÓWNĄ ZAWARTOŚĆ*/

#main_container {
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
}

/*BIO*/

#prof_foto {
    position:relative;
    z-index: 20;
    margin-top: 0px;
    margin-left: 0px;
    width:600px;
    height: 600px;
    border-radius: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    border: 3px solid rgba(100, 221, 191, 1);
}
    
#content_container {
    
    z-index: 10;
    width:600px;
    height: 600px;
    position:absolute;
    display: block;
    margin: 500px 0 0 -300px;
    left: 50%;
    top:0%;
    transform: translateY(-50%);
    text-align: center;
    min-width: 600px;
    transition: all, 1s ease;
    -webkit-transition: all 1s ease;
}


#bio {
    
    
    position: absolute;
    width: 400px;
    height: 400px;
    margin: 210px 0 0 100px;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    color: white;
    font-family: Gadugi;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
 
}


/*FOTO ANIMATION*/


#prof_foto:hover {
    opacity:0.2;
}

#prof_foto:hover ~ #bio {
    visibility: visible;
    opacity:1;

}

/* KONTAKT */

#contact_container {
    width: 600px;
    height: 300px;
    position: absolute;
    margin: 100px 0 0 -300px;
    left: 50%;
    top: 0%;
    transition: all, 1s ease;
    -webkit-transition: all 1s ease;
    
}

#contact_container a {
    text-decoration: none;
    color: black;
}

#contact_container a:hover {
    text-decoration: underline;
    color: rgba(133, 133, 133, 1);
}

#contact_details {
    position: relative;
    float: right;
}
#contact_headers {
    position: relative;
    float: left;
}

/* CV */

#cv_container {
    width:600px;
    height: auto;
    position: absolute;
    margin: 100px 0 0 -300px;
    min-width:600px;
    top:0%;
    left: 50%;
    transition: all, 1s ease;
    -webkit-transition: all 1s ease;
}

#download_button {
    text-align: center;
    float:left;
    background-color: rgba(100, 221, 191, 1);
    width: 90px;
    height: 40px;
    border: 2px solid rgba(85, 206, 176, 1);
    border-radius: 0px;
}

#download_button a {
    color:white;
    text-decoration: none;
    font-family:ArchivoNarrow;
}

#download_button p {
    margin-top: 2px;
    display: block;
    height: 45px;
}

#download_button:hover {
    background-color: rgba(128, 249, 219, 1);
    border: 2px solid rgba(110, 231, 201, 1);
    cursor: pointer;

}

/*WORKS*/

#works_container {
    width:600px;
    height: auto;
    position: absolute;
    margin: 100px 0 0 -300px;
    min-width:600px;
    top:0%;
    left: 50%;
    transition: all, 1s ease;
    -webkit-transition: all 1s ease;
    overflow: hidden;
}

iframe {
    margin-top: 10px;

}

#foto_container {
    position: relative;
    width: 400px;
    height: 400px;
    border: 0px solid rgba(100, 221, 191, 1);
    margin: 20px 0 0 -200px;
    left: 50%;
    min-width: 400px;
}

#big_foto {
    position: absolute;
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    overflow: auto;
}

#thumbnails_list {
    list-style: none;
    width: 600px;
    margin-left: 12px;
    min-width: 500px;
}

.thumbnail {
    display: inline;
    height: 50px;
    width: 50px;
    
}

.thumbnail img {
    height: 50px;
    width: 50px;
    border: 1px solid rgba(100, 221, 191, 1);
    cursor: pointer;
    transition: all, 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.thumbnail img:hover {
    opacity: 0.5;
}

/* PROJECTS */

.project {
    margin-top: 100px;
    position:relative;
    height: 150px;
    max-width: 900px;
  min-width: 900px;
    text-align: center;
  left: 50%;
  margin-left: -450px;
}

.project a {
    height: 150px;
}

.project-image {
    width: auto;
    transition: all, 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border: 3px solid rgba(100, 221, 191, 1);
}

.project:hover .project-image {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
}

.project:hover .project-name {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
}

.project-name {
    font-size: 1.5em;
    position: absolute;
    font-family: Gadugi;
    color: white;
    top: 40px;
    left: 0;
    right: 0;    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
