<section class='screenshots'>
  <div class='main-photo'>
    <img ng-src='{{project.images[img]}}' class='full-photo image-hide' load-image/>
  </div>
  <img ng-repeat='img in project.images' class='screenshot image-hide' ng-src='{{img}}' ng-click="$parent.setFullImage($index)" load-image/>
</section>

<section class='header'>
  <h1>{{project.name}}</h1>
  <p class="short-desc small">{{project.description.join(" ")}}</p>
  <h6 class='subproject-header'>Technologies used: </h6>
  <p class='technologies'>{{project.technologies.join(", ")}}</p>
  <p>
    <a ng-href='{{project.github}}' class='github-link' target="_blank">
      <span class='small-margin'>Check it on GitHub!</span>
    </a>
  </p>
</section>

<section class='description'>
  <p>{{project.techDescription.join(" ")}}</p>
</section>
