<div id="cv_container" ng-controller="CvController">                
  
  <h2>Curriculum Vitae</h2><br />
  
  <p><span>{{cv.work.header | uppercase}}</span><br /></p>
  <p>{{cv.work.listName}}</p>
  <cv-bullets list='cv.work.bullets'></cv-bullets>
  
  <p><span>{{cv.webDev.header | uppercase}}</span><br /></p>
  
  <p><span>{{cv.webDev.skills.title + ':'}}</span></p>
  <p>{{technologies}}</p>
  
  <p><span>{{cv.webDev.projects.title + ':'}}</span></p>  
  <p>{{cv.webDev.projects.kgo.title}}</p>
  <cv-bullets list='cv.webDev.projects.kgo.bullets'></cv-bullets>
  
  <p>{{cv.webDev.projects.portfolio.title}}</p>
  <cv-bullets list='cv.webDev.projects.portfolio.bullets'></cv-bullets>
  
  <p>{{cv.webDev.projects.gyst.title}}</p>
  <cv-bullets list='cv.webDev.projects.gyst.bullets'></cv-bullets>
  
    
  <p><span>{{cv.education.header | uppercase}}</span><br /></p>
  <p>{{cv.education.ue.title}}</p>
  <cv-bullets list='cv.education.ue.bullets'></cv-bullets>
  <p>{{cv.education.kopernik.title}}</p>
  <cv-bullets list='cv.education.kopernik.bullets'></cv-bullets>
  
  <p><span>{{cv.personal.header | uppercase}}</span></p>
  <p>{{languages}}</p>
  <cv-bullets list='cv.personal.bullets'></cv-bullets>
  <br />

  <button id="download_button">
    <a href="res/cv_piotr_kaczmarczyk.pdf" download>
      <p><span>Download<br />Complete CV</span></p>
    </a>
  </button>
</div>