<div id="cv_container">                
  
  <h2>Curriculum Vitae</h2><br />
  
  <p><span>WORK EXPERIENCE</span><br /></p>
  <p>Steiner Store - Founder & Owner (2013 - Present)</p>
  <ul class="cv">
    <li>Managing relations with domestic and foreign clothing brands and distributors</li>
    <li>Conducting trade transactions with domestic and international partners</li>
    <li>International purchases and sales as a subcontractor for GH Yes company</li>
    <li>Administration of the webshop</li>
    <li>Decision making regarding quantity and product selection</li>
    <li>Domestic and international customer service</li>
    <li>Designing promotional graphics</li>
    <li>Managing the process of preparing and shipping orders</li>
    <li>Managing the social media presence on Facebook and Instagram</li>
  </ul>
  
  <p><span>EDUCATION</span><br /></p>
  <p>University of Economics in Katowice (2011 - 2014)</p>
  <ul class="cv">
    <li>Bachelor’s Degree in Economics with major in International Commerce</li>
  </ul>
  <p>M.Kopernik High School in Katowice (2008 - 2011)</p>
  <ul class="cv">
    <li>Bilingual high school diploma - un baccalauréat bilingue</li>
    <li>Certificate of proficiency in French issued by the French Embassy in Poland</li>
  </ul>
  
  <p><span>PERSONAL SKILLS</span></p>
  <p>Polish - Native, English - C1, French - B2, German - A2, Russian - A1</p>
  <p>Driving licence category B</p>
  <ul class="cv">
    <li>Adobe Photoshop</li>
    <li>DxO Optics Pro</li>
    <li>MS Office</li>
    <li>Basic Python, HTML, CSS and jQuery skills</li>
    <li>WordPress</li>
    <li>Adobe InDesign</li>
  </ul>
  <br />

  <div id="download_button">
    <a href="res/cv_piotr_kaczmarczyk.pdf" download>
      <p><span>Download<br />Complete CV</span></p>
    </a>
  </div>
</div>