<div id="works_container">
  <div id="foto_container"><img id="big_foto" src="css/images/1.jpg" /></div>
  <ul id="thumbnails_list">
    <li class="thumbnail"><img class="thumb" id="1" src="css/images/1.jpg" /></li>
    <li class="thumbnail"><img class="thumb" id="2" src="css/images/2.jpg" /></li>
    <li class="thumbnail"><img class="thumb" id="3" src="css/images/3.jpg" /></li>
    <li class="thumbnail"><img class="thumb" id="4" src="css/images/4.jpg" /></li>
    <li class="thumbnail"><img class="thumb" id="5" src="css/images/5.jpg" /></li>
    <li class="thumbnail"><img class="thumb" id="6" src="css/images/6.jpg" /></li>
    <li class="thumbnail"><img class="thumb" id="7" src="css/images/7.jpg" /></li>
    <li class="thumbnail"><img class="thumb" id="8" src="css/images/8.jpg" /></li>
    <li class="thumbnail"><img class="thumb" id="9" src="css/images/9.jpg" /></li>
  </ul>
  <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/159694002&amp;color=64ddbf&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129323834&amp;color=64ddbf&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>
